<style type="text/css">
            *{margin:0px; padding:0px; }
            
            #NavTop{
                    width:140px;
                    height:270px;
                    margin-top:50px;
                    position:fixed;    right:0px;top:150px;      
            }
            #NavTop #NavCon{
                            width:140px;
                            height:270px                             
                            position:relative;
                            border:0px solid black;
            }
            #NavTop #NavCon ul{
                                margin-top:40px;
            }
            #NavTop #NavCon ul li a{
                                    text-decoration:none;
                                    color:#fff;
                                    width:105px;
                                    height:30px;
                                    background:#555;
                                    display:block;
                                    margin-top:10px;
                                    margin-left:20px;
                                    line-height:30px;
                                    text-align:center;
                                    font-family:"楷体";
                                    font-size:14px;                    
            }
            
        </style>